*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1,
h2,
h3,
h4,
p {
  font-family: 'Lato', sans-serif;
}
a,
span {
  font-family: 'Raleway', sans-serif;
}

.close-menu,
.open-menu {
  position: absolute;
  cursor: pointer;
  display: none;
}

.open-menu {
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
}

.close-menu {
  top: 20px;
  right: 20px;
}

#check {
  display: none;
}

@media (max-width: 1380px) {
  .menu {
    // @apply text-base flex-col text-gray-700 items-center justify-center w-9/12 h-screen fixed top-0 z-50 bg-red-600 ;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 73%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 100;
    background-color: #000;
    color: #fff;
    transition: all 0.5s ease-in-out;
    text-transform: uppercase;
  }

  .close-menu,
  .open-menu {
    display: block;
  }

  #check:checked ~ .menu {
    left: 0;
  }
}

.c-select {
  @apply w-full transform transition-all;
  & select {
    @apply light-scroll block w-full cursor-pointer appearance-none rounded-md border    p-2.5 pr-7 text-sm   focus:outline-none   dark:text-gray-300   dark:placeholder-gray-400;
    &:active ~ svg {
      @apply rotate-180  duration-500;
    }
    option {
      appearance: none;
      outline: 0;
      border: 0;
      box-shadow: none;
      border: 1px solid blue;
    }
  }
  &--none {
    @apply w-36;
    select {
      @apply border-0 p-2.5 pr-8;
    }
  }
}

select,
option.selected {
  width: 100px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.truncate-wrap {
  overflow: hidden;
  text-overflow: ellipsis;

  &__lines {
    overflow: hidden;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: 8;
  }
  &__lines_2 {
    -webkit-line-clamp: 2;
  }
}